
.renderCalculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; 
  margin: auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.display {
  width: 81%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 2em;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: right;
  background-color: #fff;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}
